.partners{
    .content{
        h5{
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.5rem;
            opacity: .5;
            text-align: center;
            margin: 2rem 0 3rem 0;
        }
        .partners-logo{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            align-items: center;
            li{
                -ms-flex: 0 0 16.6667%;
                flex: 0 0 16.6667%;
                max-width: 16.6667%;
                text-align: center;
                padding-right: 15px;
                padding-left: 15px;
                margin-bottom: 2rem;
            }
        }
    }
}